/Debug/
/.target_source
/fts5.c
/fts5.h
/fts5parse.c
/fts5parse.h
/fts5parse.out
/fts5parse.y
/keywordhash.h
/lemon.exe
/lemon.ilk
/lemon.obj
/lemon.pdb
/lempar.c
/libsqlite3.lib
/libtclsqlite3.lib
/mkkeywordhash.exe
/mkkeywordhash.ilk
/mkkeywordhash.obj
/mkkeywordhash.pdb
/opcodes.c
/opcodes.h
/parse.c
/parse.h
/parse.h.temp
/parse.out
/parse.y
/shell.c
/shell.obj
/sqlite3.c
/sqlite3.def
/sqlite3.dll
/sqlite3.exe
/sqlite3.exp
/sqlite3.h
/sqlite3.ilk
/sqlite3.lib
/sqlite3.lo
/sqlite3.obj
/sqlite3.pdb
/sqlite3ext.h
/sqlite3rc.h
/sqlite3res.lo
/sqlite3session.h
/sqlite3sh.pdb
/tclsqlite.lo
/tsrc/
/vc110.pdb
